<div class="container" (click)="enterSinglePokemonView()">
  <div class="row">
    <div class="col-sm-6 text-left">
      <p class="d-inline">{{ name }}</p>
      <img src="{{ sprite }}">
      <img *ngFor="let type of allData[name].types" src="./assets/types/{{ type }}.png">
    </div>
    <div class="col-sm-6 text-right">
      <p class="d-inline">Weak to: </p>
      <img *ngFor="let weak of allData[name].weaknesses" src="./assets/types/{{ weak }}.png">
    </div>
  </div>
  <hr>
  <div attr.id="displayArea{{index}}" class="row">
    <div class="col-sm-2 text-left mt-1">
    	<!-- item -->
      <label for="searchItem">Item:</label><img src="{{ itemSprite }}">
    	<input #searchItem class="form-control" placeholder="Select item" [value]="item" (input)="onUpdateSearchItem($event)" (focus)="displayItems = true; displayStats = false; isSearching = false; highlightItems(itemIndex);" (blur)="displayItems = false;" (click)="$event.target.select()" (keydown)="navigateItem($event)">
    </div>
    <div class="col-sm-2 text-left mt-1">
    	<!-- ability -->
      <label for="searchAbility">Ability:</label>
      <input #searchAbility class="form-control" placeholder="Select ability" [value]="ability" (focus)="displayAbilities = true; displayStats = false; highlightAbilities();" (blur)="displayAbilities = false;" (click)="$event.target.select()" (keydown)="navigateAbility($event)">
    </div>
    <div class="col-sm-2 text-left mt-1">
    	<!-- moves -->
      <label>Moves:</label>
      <div *ngFor="let m of moves; let i = index">
      	<input attr.id="searchMov{{index}}-{{i}}" class="form-control mb-1" placeholder="Select move" [value]="m" (input)="onUpdateSearchMove($event)" (focus)="displayMoves = true; displayStats = false; moveIndex = i; isSearching = false; highlightMoves(moveNavIndex);" (blur)="displayMoves = false;" (click)="$event.target.select()" (keydown)="navigateMove($event)">
      </div>
    </div>
    <div class="col-sm-4 text-left mt-1">
      <!-- stats -->
      <label>Stats:</label><br>
      <div *ngIf="!displayStats; else hideStats">
        <button class="btn btn-outline-light btn-block h-75" (click)="displayStats = true; scrollToDisplay();">Edit Stats</button>
        <div class="ml-1 mt-2" style="font-size: 10pt; line-height: 5px">
          <p *ngIf="ev[0] > 0">{{ev[0]}} HP</p>
          <p *ngIf="ev[1] > 0">{{ev[1]}} Atk</p>
          <p *ngIf="ev[2] > 0">{{ev[2]}} Def</p>
          <p *ngIf="ev[3] > 0">{{ev[3]}} SpA</p>
          <p *ngIf="ev[4] > 0">{{ev[4]}} SpD</p>
          <p *ngIf="ev[5] > 0">{{ev[5]}} Spe</p>
          <p *ngIf="nature.indexOf('(') != -1">{{nature}}</p>
        </div>
      </div>
      <ng-template #hideStats>
        <button class="btn btn-outline-light btn-block h-75" (click)="displayStats = false;">Hide Stats</button>
      </ng-template>
    </div>
    <div class="col-sm-2 text-right mt-1">
      <button class="btn btn-danger" (click)="removeMe()">Delete</button>
    </div>
  </div>
  <!-- display lists of stuff here, note id for displayArea is higher up the page -->
  <div>
    <div *ngIf="displayItems" class="mt-3 mb-3">
      <h5>Items:</h5><hr>
      <div *ngIf="!isSearching && recitemlist.length > 0">
        <div class="container-fluid" style="background-color:#939dad; color:#000;">
          <div class="row" style="font-weight:bold; height:25px;">
            <div class="col text-left">
              <p>Popular Items by Usage:</p>
            </div>
          </div>
        </div>
        <div *ngFor="let recitem of recitemlist; let i = index">
          <button attr.id="item{{i}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addItem(recitem)" (mouseover)="setHoverItem(i)">
            <div class="container">
              <div class="row">
                <div class="col-sm-2 text-left">
                  <img src="./assets/items/{{ recitem }}.png">
                  <p class="d-inline text-truncate"> {{ recitem }}</p>
                </div>
                <div class="col-sm-8 text-left mt-1 text-truncate">
                  <p> {{ itemData[recitem] }}</p>
                </div>
                <div class="col-sm-2 text-left mt-1 text-truncate">
                  <p> Usage: {{ allData[name]['itemUsage'][tier][i][recitem] }} %</p>
                </div>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="container-fluid" style="background-color:#939dad; color:#000;">
        <div class="row" style="font-weight:bold; height:25px;">
          <div class="col text-left">
            <p>All Items:</p>
          </div>
        </div>
      </div>
      <virtual-scroll [items]="itemlist" (update)="viewPortItems = $event">
        <div *ngFor="let item of viewPortItems; let i = index;">
          <button attr.id="item{{i + recitemlist.length}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addItem(item)" (mouseover)="setHoverItem(i + recitemlist.length)">
            <div class="container">
              <div class="row">
                <div class="col-sm-2 text-left">
                  <img src="./assets/items/{{ item }}.png">
                  <p class="d-inline text-truncate"> {{ item }}</p>
                </div>
                <div class="col-sm-10 text-left mt-1 text-truncate">
                  <p> {{ itemData[item] }}</p>
                </div>
              </div>
            </div>
          </button>
        </div>
      </virtual-scroll>
    </div>
    <div *ngIf="displayAbilities" class="mt-3 mb-3">
      <h5>Abilities:</h5><hr>
      <div *ngFor="let ab of abilitylist; let i = index">
        <button attr.id="ability{{i}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addAbility(ab)" (mouseover)="setHoverAbility(i)">
          <div class="container">
            <div class="row">
              <div class="col-sm-2 text-left mt-1 text-truncate">
                <p> {{ ab }}</p>
              </div>
              <div class="col-sm-10 text-left mt-1 text-truncate">
                <p> {{ abilityData[ab] }}</p>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div *ngIf="displayMoves" class="mt-3 mb-3">
      <h5>Moves:</h5><hr>
      <div *ngIf="!isSearching && recmovelist.length > 0">
        <div class="container-fluid" style="background-color:#939dad; color:#000;">
          <div class="row" style="font-weight:bold; height:25px;">
            <div class="col text-left">
              <p>Popular Moves by Usage:</p>
            </div>
          </div>
        </div>
        <div class="container-fluid border border-light" style="color:#fff; background-color:#000; font-size: 10pt">
          <div class="row" style="height:25px;">
            <div class="col-2 text-left">
              <!-- <p class="ml-1">Name</p> -->
            </div>
            <div class="col-3 text-left">
              <div class="d-inline-flex align-items-start flex-row">
                <p class="mt-1 ml-1 text-center" style="width:30px;">Type</p>
                <p class="mt-1 ml-2 text-center" style="width:25px;"> Cat</p>
                <p class="mt-1 ml-2 text-center" style="width:25px;">Pow</p>
                <p class="mt-1 ml-2 text-center" style="width:25px;">Acc</p>
                <p class="mt-1 ml-1 text-center" style="width:25px;">PP</p>
              </div>
            </div>
            <div class="col-7 text-left mt-1">
              <p>Description</p>
            </div>
          </div>
        </div>
        <div *ngFor="let recmove of recmovelist; let i = index">
          <button attr.id="moveNav{{i}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addMove(recmove)" (mouseover)="setHoverMove(i)">
            <div class="container">
              <div class="row">
                <div class="col-sm-2 text-left mt-1 text-truncate">
                  <p> {{ recmove }}</p>
                </div>
                <div class="col-sm-3 text-left">
                  <div class="d-inline-flex align-items-start flex-row">
                    <img src="./assets/types/{{ moveData[recmove]['type'] }}.png" class="mt-2">
                    <img src="./assets/types/{{ moveData[recmove]['contact'] }}.png" class="mt-2 ml-1">
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[recmove]['power'] }}</p>
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[recmove]['accuracy'] }}</p>
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[recmove]['pp'] }}</p>
                  </div>
                </div>
                <div class="col-sm-5 text-left mt-1 text-truncate">
                  <p> {{ moveData[recmove]['desc'] }}</p>
                </div>
                <div class="col-sm-2 text-left mt-1 text-truncate">
                  <p> Usage: {{ allData[name]['moveUsage'][tier][i][recmove] }} %</p>
                </div>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="container-fluid" style="background-color:#939dad; color:#000;">
        <div class="row" style="font-weight:bold; height:25px;">
          <div class="col text-left">
            <p>All Moves:</p>
          </div>
        </div>
      </div>
      <div class="container-fluid border border-light" style="color:#fff; background-color:#000; font-size: 10pt">
        <div class="row" style="height:25px;">
          <div class="col-2 text-left">
            <!-- <p class="ml-1">Name</p> -->
          </div>
          <div class="col-3 text-left">
            <div class="d-inline-flex align-items-start flex-row">
              <p class="mt-1 ml-1 text-center" style="width:30px;">Type</p>
              <p class="mt-1 ml-2 text-center" style="width:25px;"> Cat</p>
              <p class="mt-1 ml-2 text-center" style="width:25px;">Pow</p>
              <p class="mt-1 ml-2 text-center" style="width:25px;">Acc</p>
              <p class="mt-1 ml-1 text-center" style="width:25px;">PP</p>
            </div>
          </div>
          <div class="col-7 text-left mt-1">
            <p>Description</p>
          </div>
        </div>
      </div>
      <virtual-scroll [items]="movelist" (update)="viewPortMoves = $event">
        <div *ngFor="let mo of viewPortMoves; let i = index;">
          <button *ngIf="moveData[mo] != null" attr.id="moveNav{{i + recmovelist.length}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addMove(mo)" (mouseover)="setHoverMove(i + recmovelist.length)">
            <div class="container">
              <div class="row">
                <div class="col-sm-2 text-left mt-1 text-truncate">
                  <p> {{ mo }}</p>
                </div>
                <div class="col-sm-3 text-left">
                  <div class="d-inline-flex align-items-start flex-row">
                    <img src="./assets/types/{{ moveData[mo]['type'] }}.png" class="mt-2">
                    <img src="./assets/types/{{ moveData[mo]['contact'] }}.png" class="mt-2 ml-1">
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['power'] }}</p>
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['accuracy'] }}</p>
                    <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['pp'] }}</p>
                  </div>
                </div>
                <div class="col-sm-7 text-left mt-1 text-truncate">
                  <p> {{ moveData[mo]['desc'] }}</p>
                </div>
              </div>
            </div>
          </button>
        </div>
      </virtual-scroll>
      <!-- <div *ngFor="let mo of movelist; let i = index">
        <button attr.id="moveNav{{i + recmovelist.length}}" class="btn btn-outline-dark btn-sm btn-block" style="height:40px;" (mousedown)="addMove(mo)" (mouseover)="setHoverMove(i + recmovelist.length)">
          <div class="container">
            <div class="row">
              <div class="col-sm-2 text-left mt-1">
                <p> {{ mo }}</p>
              </div>
              <div class="col-sm-2 text-left">
                <div class="d-inline-flex align-items-start flex-row">
                  <img src="../../assets/types/{{ moveData[mo]['type'] }}.png" class="mt-2">
                  <img src="../../assets/types/{{ moveData[mo]['contact'] }}.png" class="mt-2 ml-1">
                  <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['power'] }}</p>
                  <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['accuracy'] }}</p>
                  <p class="mt-1 ml-1 text-center" style="width:25px;"> {{ moveData[mo]['pp'] }}</p>
                </div>
              </div>
              <div class="col-sm-8 text-left mt-1">
                <p> {{ moveData[mo]['desc'] }}</p>
              </div>
            </div>
          </div>
        </button>
      </div> -->
  	</div>
    <div *ngIf="displayStats" class="mt-3 mb-3">
      <h5>Stats:</h5><hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-7">
            <button *ngIf="!displaySpreads; else spreadsAreDisplayed" class="btn btn-primary btn-sm ml-2" (click)="displaySpreads = true; scrollToSpreads();">View Popular Spreads</button>
            <ng-template #spreadsAreDisplayed>
              <button class="btn btn-danger btn-sm ml-2" (click)="displaySpreads = false">Hide Popular Spreads</button>
            </ng-template>
            <br><br>
            <div class="container-fluid" style="font-size: 10pt">
              <div class="row" style="height:25px;">
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-sm-2 pl-5">
                  <p>Base</p>
                </div>
                <div class="col-sm-6 text-left ml-2">
                  <p>EVs</p>
                </div>
                <div class="col-sm-3 text-left ml-3">
                  <p>IVs</p>
                </div>
              </div>
            </div>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="hpInput" class="col-sm-2 col-form-label col-form-label-sm">HP:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][0]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[0]" (input)="setStats($event, 'hp')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="hpInput" [value]="ev[0]" (input)="setStats($event, 'hp')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[0]" (input)="setIV($event, 'hp')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[0] }}</p>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="atkInput" class="col-sm-2 col-form-label col-form-label-sm">Atk:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][1]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[1]" (input)="setStats($event, 'atk')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="atkInput" [value]="ev[1]" (input)="setStats($event, 'atk')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[1]" (input)="setIV($event, 'atk')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[1] }}</p>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="defInput" class="col-sm-2 col-form-label col-form-label-sm">Def:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][2]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[2]" (input)="setStats($event, 'def')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="defInput" [value]="ev[2]" (input)="setStats($event, 'def')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[2]" (input)="setIV($event, 'def')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[2] }}</p>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="spaInput" class="col-sm-2 col-form-label col-form-label-sm">SpA:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][3]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[3]" (input)="setStats($event, 'spa')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="spaInput" [value]="ev[3]" (input)="setStats($event, 'spa')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[3]" (input)="setIV($event, 'spa')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[3] }}</p>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="spdInput" class="col-sm-2 col-form-label col-form-label-sm">SpD:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][4]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[4]" (input)="setStats($event, 'spd')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="spdInput" [value]="ev[4]" (input)="setStats($event, 'spd')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[4]" (input)="setIV($event, 'spd')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[4] }}</p>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group row">
                <div class="col-sm-1 mr-2">
                  <label for="speInput" class="col-sm-2 col-form-label col-form-label-sm">Spe:</label>
                </div>
                <div class="col-sm-1 mt-1">
                  <p class="d-inline">{{allData[name]['baseStats'][5]}}</p>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control form-control-sm d-inline mr-2" min="0" max="252" step="4" [value]="ev[5]" (input)="setStats($event, 'spe')" (click)="$event.target.select()" style="width:21%">
                  <input type="range" class="custom-range d-inline" min="0" max="252" step="4" id="speInput" [value]="ev[5]" (input)="setStats($event, 'spe')" style="width:76%">
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control form-control-sm d-inline mr-4" min="0" max="31" [value]="iv[5]" (input)="setIV($event, 'spe')" (click)="$event.target.select()" style="width:40%">
                  <p class="d-inline">{{ stats[5] }}</p>
                </div>
              </div>
            </form>
            <div class="container-fluid" style="font-size: 10pt">
              <div class="row" style="height:25px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-11 text-left">Points remaining: 
                  <p id="pts{{ index }}" class="d-inline" style="color:#fff">{{ ptsRemaining }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 text-left">
            <!-- speed comparison -->
            <button *ngIf="!displaySpeedComparison" class="btn btn-success" (click)="displaySpeedComparison = true">Open Speed Comparison</button>
            <div *ngIf="displaySpeedComparison">
              <button class="btn btn-danger" (click)="displaySpeedComparison = false">Close Speed Comparison</button>
              <br><br>
              <p>This pok&eacute;mon:</p>
              <img src="{{ sprite }}">
              <p class="d-inline">{{ name }}'s speed at </p>
              <select id="speedBoostSelect" class="custom-select-sm d-inline" (change)="setSpeedBoost()">
                <option>+6</option>
                <option>+5</option>
                <option>+4</option>
                <option>+3</option>
                <option>+2</option>
                <option>+1</option>
                <option selected>0</option>
                <option>-1</option>
                <option>-2</option>
                <option>-3</option>
                <option>-4</option>
                <option>-5</option>
                <option>-6</option>
              </select>
              <p class="d-inline"> = {{ speedBoost }}</p>
              <hr>
              <p class="d-inline">Opponent pok&eacute;mon: </p>
              <select id="opponentSelect" class="custom-select-sm" (change)="setOpponent()">
                <option selected>Choose</option>
                <option *ngFor="let poke of allDataArray">{{ poke }}</option>
              </select>
              <br>
              <div *ngIf="opponentSelected">
                <p class="d-inline ml-2">Speed EVs: </p>
                <input type="number" class="form-control form-control-sm d-inline" min="0" max="252" step="4" [value]="opponentEv" (input)="setOpponentStats($event, 'ev')" (click)="$event.target.select()" style="width:14%">
                <input type="range" class="custom-range d-inline ml-2" min="0" max="252" step="4" id="speInput" [value]="opponentEv" (input)="setOpponentStats($event, 'ev')" style="width:30%">
                <br>
                <p class="d-inline ml-2">Speed IVs: </p>
                <input type="number" class="form-control form-control-sm d-inline ml-1" min="0" max="31" [value]="opponentIv" (input)="setOpponentStats($event, 'iv')" (click)="$event.target.select()" style="width:12%">
                <br>
                <p class="d-inline ml-2">Nature: </p>
                <select id="opponentModSelect" class="custom-select-sm d-inline ml-4" (change)="setOpponentModifier()">
                  <option>+Speed</option>
                  <option selected>Neutral</option>
                  <option>-Speed</option>
                </select>
                <br><br>
                <img src="{{ opponentSprite }}">
                <p class="d-inline">{{ opponent }}'s speed at </p>
                <select id="opponentSpeedBoostSelect" class="custom-select-sm d-inline" (change)="setOpponentSpeedBoost()">
                  <option>+6</option>
                  <option>+5</option>
                  <option>+4</option>
                  <option>+3</option>
                  <option>+2</option>
                  <option>+1</option>
                  <option selected>0</option>
                  <option>-1</option>
                  <option>-2</option>
                  <option>-3</option>
                  <option>-4</option>
                  <option>-5</option>
                  <option>-6</option>
                </select>
                <p class="d-inline"> = {{ opponentSpeed }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- nature -->
      <form class="d-inline">
        <label for="natureSelect" class="col-sm-2 col-form-label col-form-label-sm">Nature: </label>
        <select id="natureSelect" [value]="nature" class="custom-select-sm" (change)="setNature()">
          <option>Adamant (+Atk, -SpA)</option>
          <option>Bashful</option>
          <option>Bold (+Def, -Atk)</option>
          <option>Brave (+Atk, -Spe)</option>
          <option>Calm (+SpD, -Atk)</option>
          <option>Careful (+SpD, -SpA)</option>
          <option>Docile</option>
          <option>Gentle (+SpD, -Def)</option>
          <option>Hardy</option>
          <option>Hasty (+Spe, -Def)</option>
          <option>Impish (+Def, -SpA)</option>
          <option>Jolly (+Spe, -SpA)</option>
          <option>Lax (+Def, -SpD)</option>
          <option>Lonely (+Atk, -Def)</option>
          <option>Mild (+SpA, -Def)</option>
          <option>Modest (+SpA, -Atk)</option>
          <option>Naive (+Spe, -SpD)</option>
          <option>Naughty (+Atk, -SpD)</option>
          <option>Quiet (+SpA, -Spe)</option>
          <option>Quirky</option>
          <option>Rash (+SpA, -SpD)</option>
          <option>Relaxed (+Def, -Spe)</option>
          <option>Sassy (+SpD, -Spe)</option>
          <option>Serious</option>
          <option>Timid (+Spe, -Atk)</option>
        </select>
      </form>
      <div attr.id="displaySpreadArea{{index}}" *ngIf="displaySpreads" class="mt-3 mb-3">
        <div class="container-fluid" style="background-color:#939dad; color:#000;">
          <div class="row" style="font-weight:bold; height:25px;">
            <div class="col text-left">
              <p>Popular Spreads by Usage:</p>
            </div>
          </div>
        </div>
        <div class="container-fluid border border-light" style="color:#fff; background-color:#000; font-size: 10pt">
          <div class="row" style="height:25px;">
            <div class="col-2 text-left">
              <p class="mt-1 ml-1 text-center" style="width:30px;">Nature</p>
            </div>
            <div class="col-10 text-left">
              <p class="mt-1 ml-2 text-center" style="width:25px;">EVs</p>
            </div>
          </div>
        </div>
        <div *ngFor="let recspread of recspreadlist; let i = index">
          <button attr.id="popSpread{{i}}" class="btn btn-outline-light btn-sm btn-block" style="height:40px;" (mousedown)="addSpread(recspread)" (mouseover)="setHoverSpread(i)">
            <div class="container">
              <div class="row">
                <div class="col-sm-2 text-left mt-1">
                  <p> {{ recspread.nature }}</p>
                </div>
                <div class="col-sm-8 text-left mt-1">
                  <p> {{ recspread.hp }} HP / {{ recspread.atk }} Atk / {{ recspread.def }} Def / {{ recspread.spa }} SpA / {{ recspread.spd }} SpD / {{ recspread.spe }} Spe </p>
                </div>
                <div class="col-sm-2 text-left mt-1">
                  <p> Usage: {{ recspread.usage }} %</p>
                </div>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end display lists of stuff -->
</div>
