.myHover {
	color:#000;
	background-color:#dee5ef;
	border-color:#343a40;
}

.negPtsRemaining {
	color:#f00;
}

virtual-scroll {
  display: block;
  width: 100%;
  height: 650px;
}

@media (max-width: 991px) {
  .container {
    max-width: 98%;
  }
}