<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>What kind of team would you like to build?</h4>
    </div>
  </div>
  <hr><br>
  <div class="row">
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger" routerLink="">Standard Competitive</button>
      <br><br>
      <p>?</p>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger">Draft League</button>
      <br><br>
      <p>?</p>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger">In-game</button>
      <br><br>
      <p>?</p>
    </div>
  </div>
 </div>