<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>What kind of team would you like to build?</h4>
    </div>
  </div>
  <hr><br>
  <div class="row">
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger" routerLink="/teambuildercompetitive">Standard Competitive</button>
      <br><br>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger">Draft League</button>
      <br><br>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-danger">In-game</button>
      <br><br>
    </div>
  </div>
  <br>
  <div class="row">
  	<div class="col-sm-12">
  		<p>
  			Not sure? If you are building a competitive team, you're most likely looking for <a routerLink="/teambuildercompetitive">Standard Competitive</a>. If you're building for a draft league, you'll know.
  		</p>
  		<p>
  			The <a routerLink="/teambuilderselect">In-game</a> option allows you to plan a team for a playthrough of a game (such as Gold version or Moon version) without worrying about items and EVs. This will provide you with the in-game locations of all pok&eacute;mon obtainable in the game you're planning for, along with their movesets.
  		</p>
  		<p>
  			Still want the EVs and other competitive info for your in-game team? You can plan an in-game team with the <a routerLink="/teambuilderselect">In-game</a> teambuilder, and then export it to the <a routerLink="/teambuildercompetitive">Standard Competitive</a> teambuilder.
  		</p>
  	</div>
  </div>
 </div>