<div class="container">
	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #8915ef;">
		<a class="navbar-brand" routerLink="">Pokebuild</a>
		<ul class="nav navbar-nav">
			<li class="nav-item"><a class="nav-link" routerLink="/teambuilderselect">Teambuilder</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="">Pokemon Planner</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="">Guides</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="">About</a></li>
		</ul>
	</nav>
</div>