.myHover {
	color:#000;
	background-color:#dee5ef;
	border-color:#343a40;
}

.row-bottom-margin {
	margin-bottom:-14px;
}

@media (max-width: 991px) {
  .container {
    max-width: 98%;
  }
}

virtual-scroll {
  display: block;
  width: 100%;
  height: 650px;
}

.filterHover {
  color:#16181b;
  text-decoration:none;
  background-color:#f8f9fa;
}