<div class="btn-toolbar">
	<div class="dropdown">
		<button type="button" class="btn btn-secondary dropdown-toggle mr-2" data-toggle="dropdown">{{ tier }}</button>
		<div class="dropdown-menu">
			<button class="dropdown-item" (click)="setTier('OU')">OU</button>
			<button class="dropdown-item" (click)="setTier('UU')">UU</button>
			<button class="dropdown-item" (click)="setTier('RU')">RU</button>
			<button class="dropdown-item" (click)="setTier('NU')">NU</button>
		</div>
	</div>
	<button *ngIf="!isTeamFull()" class="btn btn-success" [disabled]="!tierSelected" (click)="printPokemon()">Add Pokemon</button>
</div>
<br>
<p *ngIf="isTeamEmpty(); else teamNotEmpty">team is empty :(</p>
<ng-template #teamNotEmpty>
	<div *ngFor="let member of teamMembers; let i = index" class="border border-dark">
		<app-pkmncubby [team]="teamMembers" [name]="member" [index]=i></app-pkmncubby>
	</div>
</ng-template>
<br><br>
<div *ngIf="displayPokemon && !isTeamFull()">
	<input class="form-control" placeholder="Search for pokemon" (input)="onUpdateSearchField($event)">
	<br>
	<div *ngFor="let poke of tierpkmn">
		<app-searchresultpkmn [name]="poke" (click)="addTeamMember(poke)"></app-searchresultpkmn>
	</div>
</div>