<div id="top" class="btn-toolbar">
	<div class="dropdown">
		<button type="button" class="btn btn-light dropdown-toggle mr-2" data-toggle="dropdown">{{ tier }}</button>
		<div class="dropdown-menu">
			<button class="dropdown-item" (click)="setTier('OU')">OU</button>
			<button class="dropdown-item" (click)="setTier('UU')">UU</button>
			<button class="dropdown-item" (click)="setTier('RU')">RU</button>
			<button class="dropdown-item" (click)="setTier('NU')">NU</button>
			<button class="dropdown-item" (click)="setTier('PU')">PU</button>
			<button class="dropdown-item" (click)="setTier('LC')">LC</button>
			<button class="dropdown-item" (click)="setTier('Ubers')">Ubers</button>
			<button class="dropdown-item" (click)="setTier('VGC')">VGC</button>
		</div>
	</div>
	<button *ngIf="teamMembers.length < 6" class="btn btn-success mr-2" [disabled]="!tierSelected" (click)="printPokemon()">Add Pok&eacute;mon</button>
	<button *ngIf="!importClicked" class="btn btn-info mr-2" [disabled]="!tierSelected" (click)="importClicked = true">Import from Showdown</button>
	<button *ngIf="teamMembers.length != 0" class="btn btn-info mr-2" (click)="exportShowdown()">Export to Showdown</button>
	<div *ngIf="singlePokemonView[0]">
		<button class="btn btn-warning mr-2" (click)="enterTeamView()">&lt; Team View</button>
		<div class="d-inline">
			<div *ngFor="let member of teamMembers; let i = index" class="d-inline">
				<button (click)="editPoke(i)">
					<img src="{{teamSprites[i]}}">
				</button>
			</div>
		</div>
	</div>
</div>
<br>
<div *ngIf="importClicked">
	<p style="color:#f00">*Warning: clicking the save button will overwrite your current team</p><br>
	<textarea id="importTextArea" class="w-100" rows="10" autofocus></textarea><br><br>
	<button class="btn btn-danger mr-2" (click)="importClicked = false;">Hide Import</button>
	<button class="btn btn-info" (click)="importShowdown()">Save</button><br><br>
</div>
<div *ngIf="exportClicked">
	<textarea class="w-100" rows="{{exportRows}}" autofocus>{{ exportText }}</textarea><br><br>
	<button class="btn btn-danger" (click)="exportClicked = false;">Hide Export Text</button><br><br>
</div>
<p *ngIf="teamMembers.length == 0; else teamNotEmpty">team is empty :(</p>
<ng-template #teamNotEmpty>
	<div *ngFor="let member of teamMembers; let j = index">
		<div id="cubby{{j}}" class="border border-light rounded">
			<app-pkmncubby *ngIf="member.nameImport != null; else notImported" [team]="teamMembers" [teamSprites]="teamSprites" [singleDisplay]="singlePokemonView" [name]="member.nameImport" [tier]="tier" [index]=j [itemImport]="member.itemImport" [abilityImport]="member.abilityImport" [evsImport]="member.evsImport" [natureImport]="member.natureImport" [ivsImport]="member.ivsImport" [movesImport]="member.movesImport"></app-pkmncubby>
			<ng-template #notImported>
				<app-pkmncubby [team]="teamMembers" [teamSprites]="teamSprites" [singleDisplay]="singlePokemonView" [name]="member" [tier]="tier" [index]=j></app-pkmncubby>
			</ng-template>
		</div>
	</div>
</ng-template>
<div id="searchDisplayArea">
	<br><br>
	<div *ngIf="displayPokemon && teamMembers.length < 6">
		<input #searchPoke class="form-control" placeholder="Search for pokemon" (input)="onUpdateSearchPokemon($event)" (focus)="highlightPokemon();" (keydown)="navigatePokemon($event)" (click)="$event.target.select()">
		<div class="row">
			<div class="ml-3 mt-2">
				<p class="d-inline mr-2">Apply Filters:</p>
				<button type="button" class="btn btn-sm btn-info dropdown-toggle mr-2" data-toggle="dropdown">Tier</button>
				<div class="dropdown-menu">
					<div id="tierFilterDiv12" (mouseover)="setHoverFilter(12, 'tier')" (mouseout)="setHoverFilter(12, 'tierNo')" (click)="checkBoxInsideDiv(12, 'propBad')">
						<div class="container"><input id="tierFilterInput12" type="checkbox" (click)="checkBoxInsideDiv(12, 'propOk')"> All Pokemon</div>
					</div>
					<div *ngFor="let tier of tierKeys; let k = index" attr.id="tierFilterDiv{{k}}" (mouseover)="setHoverFilter(k, 'tier')" (mouseout)="setHoverFilter(k, 'tierNo')" (click)="checkBoxInsideDiv(k, 'propBad')">
						<div class="container"><input attr.id="tierFilterInput{{k}}" type="checkbox" (click)="checkBoxInsideDiv(k, 'propOk')"> {{tier}}</div>
					</div>
				</div>
			</div>
			<div class="mt-2">
				<select id="typeFilterInput" class="btn btn-info custom-select-sm mr-2" style="width:70px" (change)="applyFilter()">
		      <option selected>Type</option>
		      <option *ngFor="let type of typeKeys">{{ type }}</option>
		    </select>
			</div>
			<div class="mt-2">
				<select id="abilityFilterInput" class="btn btn-info custom-select-sm mr-2" style="width:100px" (change)="applyFilter()">
		      <option selected>Ability</option>
		      <option *ngFor="let ability of abilityKeys">{{ ability }}</option>
		    </select>
			</div>
			<div class="mt-2">
				<select id="moveFilterInput" class="btn btn-info custom-select-sm mr-2" style="width:100px" (change)="applyFilter()">
		      <option selected>Move</option>
		      <option *ngFor="let move of moveKeys">{{ move }}</option>
		    </select>
			</div>
			<div class="mt-2">
				<select id="roleFilterInput" class="btn btn-info custom-select-sm mr-2" style="width:120px" (change)="applyFilter()">
		      <option selected>Role</option>
		      <option *ngFor="let role of roleKeys">{{ role }}</option>
		    </select>
			</div>
			<div class="mt-2">
				<button class="btn btn-sm btn-danger mr-2" (click)="resetFilters()">Reset Filters</button>
			</div>
			<div class="mt-2">
				<button *ngIf="!displayRecommended && teamMembers.length > 0" class="btn btn-primary btn-sm mr-2" (click)="updateRecommended()">View Recommended Pok&eacute;mon</button>
				<button *ngIf="displayRecommended" class="btn btn-danger btn-sm" (click)="displayRecommended = false; searchBar.nativeElement.focus();">Hide Recommended Pok&eacute;mon</button>
			</div>
			<div class="mt-2">
				<p class="d-inline ml-3 mr-2">Sort By:</p>
				<select id="sortInput" class="btn btn-light custom-select-sm" style="width:100px" (change)="sortPokeList()">
		      <option selected>Alphabetical</option>
		      <option>Highest HP</option>
		      <option>Highest Atk</option>
		      <option>Highest Def</option>
		      <option>Highest SpA</option>
		      <option>Highest SpD</option>
		      <option>Highest Spe</option>
		      <option>Lowest HP</option>
		      <option>Lowest Atk</option>
		      <option>Lowest Def</option>
		      <option>Lowest SpA</option>
		      <option>Lowest SpD</option>
		      <option>Lowest Spe</option>
		    </select>
			</div>
		</div>
		<br>
		<div *ngIf="displayRecommended && teamMembers.length > 0">
			<div class="container-fluid" style="background-color:#939dad; color:#000;">
				<div class="row" style="font-weight:bold; height:25px;">
					<div class="col-sm-2 text-center">
			      <p>Name</p>
			    </div>
			    <div class="col-sm-2 text-left">
			      <p>Types</p>
			    </div>
			    <!-- <div class="col-sm-3 text-left">
			      <p>Abilities</p>
			    </div> -->
			    <div class="col-sm-8 text-left">
			    	<p>Usage Data</p>
					</div>
				</div>
			</div>
			<div *ngFor="let recpoke of recpokelist; let i = index;">
				<button class="btn btn-outline-light btn-sm btn-block" (click)="addTeamMember(recpoke.name)">
					<div class="container">
						<div class="row">
							<div class="col-sm-2 text-left">
					      <img src="{{ recpoke.sprite }}">
					      <p class="d-inline"> {{ recpoke.name }}</p>
					    </div>
					    <div class="col-sm-2 text-left">
					      <img *ngFor="let type of allData[recpoke.name].types" src="./assets/types/{{ type }}.png">
					    </div>
					    <!-- <div class="col-sm-1 text-left mt-2" style="line-height:4px">
					      <p> {{ allData[recpoke.name]['abilities'][0] }}</p>
					      <p> {{ allData[recpoke.name]['abilities'][1] }}</p>
					    </div>
					    <div class="col-sm-2 mt-2" style="line-height:4px">
					      <p> {{ allData[recpoke.name]['abilities'][2] }}</p>
					      <p> {{ allData[recpoke.name]['abilities'][3] }}</p>
					    </div> -->
					    <div class="col-sm-8 text-left">
					    	<div *ngFor="let partner of recpoke.partner; let j = index;" class="d-inline">
					    		<p class="d-inline"> {{recpoke.usage[j]}}% (w/ {{partner}})</p>
					    		<p *ngIf="j != recpoke.partner.length-1" class="d-inline">, </p>
					    	</div>
					    </div>
						</div>
					</div>
				</button>
			</div>
		</div>
		<br>
		<div class="container-fluid" style="background-color:#939dad; color:#000;">
			<div class="row" style="font-weight:bold; height:25px;">
				<div class="col-sm-2 text-center">
		      <p>Name</p>
		    </div>
		    <div class="col-sm-2 text-left">
		      <p>Types</p>
		    </div>
		    <div class="col-sm-3 text-left">
		      <p>Abilities</p>
		    </div>
		    <div class="col-sm-5">
		    	<div class="container-fluid">
		    		<div class="row">
		    			<div class="col-sm-3 d-none d-lg-block"></div>
					    <div class="col-sm-1">
					    	<p>Stats</p>
					    </div>
		    		</div>
		    	</div>
		    </div>
			</div>
		</div>
		<virtual-scroll [items]="tierpkmn" (update)="updateViewPort($event)">
	    <div *ngFor="let poke of viewPortItems; let i = index;">
	    	<div *ngIf="tierKeys.indexOf(poke) != -1 || poke === 'All Pokemon'; else notaDivider" class="container-fluid border border-dark" style="background-color:#939dad; color:#000;">
          <div class="row" style="font-weight:bold; height:25px;">
            <div class="col text-left">
              <p>{{poke}}</p>
            </div>
          </div>
        </div>
				<ng-template #notaDivider>
					<button attr.id="listedpkmn{{i}}" class="btn btn-outline-light btn-sm btn-block" style="height:50px;" (click)="addTeamMember(poke)" (mouseover)="setHover(i)">
						<div class="container">
							<div class="row">
								<div class="col-sm-2 text-left">
						      <img src="{{ sprites[i] }}">
						      <p class="d-inline"> {{ poke }}</p>
						    </div>
						    <div class="col-sm-2 text-left">
						      <img *ngFor="let type of allData[poke].types" src="./assets/types/{{ type }}.png">
						    </div>
						    <div class="col-sm-1 text-left mt-2" style="line-height:4px">
						      <p> {{ allData[poke]['abilities'][0] }}</p>
						      <p> {{ allData[poke]['abilities'][1] }}</p>
						    </div>
						    <div class="col-sm-2 mt-2" style="line-height:4px">
						      <p> {{ allData[poke]['abilities'][2] }}</p>
						      <p> {{ allData[poke]['abilities'][3] }}</p>
						    </div>
						    <div class="col-sm-5">
						    	<div class="container-fluid">
						    		<div class="row row-bottom-margin">
						    			<div class="col-sm-3 d-none d-lg-block"></div>
						    			<div class="col-sm-1">
						    				<p>HP</p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p>Atk</p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p>Def</p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p>SpA</p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p>SpD</p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p>Spe</p>
						    			</div>
						    			<div class="col-sm-3 d-none d-lg-block"></div>
						    		</div>
						    		<div class="row">
						    			<div class="col-sm-3 d-none d-lg-block"></div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][0] }} </p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][1] }} </p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][2] }} </p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][3] }} </p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][4] }} </p>
						    			</div>
						    			<div class="col-sm-1">
						    				<p> {{ allData[poke]['baseStats'][5] }} </p>
						    			</div>
						    			<div class="col-sm-3 d-none d-lg-block"></div>
						    		</div>
						    	</div>
						    </div>
							</div>
						</div>
					</button>
				</ng-template>
			</div>
		</virtual-scroll>
	</div>
</div>
<div>
	<br><br><br><br><br>
	<p>
    Would you like to report an error, suggest a feature to be added, or provide some other kind of feedback? Contact me on <a href="https://twitter.com/oakleaf14" target="_blank">Twitter</a>!
  </p>
  <hr>
	<p>Pokémon And All Respective Names are Trademark & © of Nintendo 1996-2018</p>
</div>


