<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Welcome to {{ title }}</h3>
    </div>
  </div>
  <hr><br>
  <div class="row">
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary" routerLink="/teambuilderselect">Teambuilder</button>
      <br><br>
    </div>
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary">Pokemon Planner</button>
      <br><br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <p>
        {{ title }} provides options for building both competitive and in-game teams. Check out the <a routerLink="/teambuilderselect">Teambuilder</a> to view all of your different options. The <a routerLink="">Pokemon Planner</a> can be used to generate instructions for legally obtaining and training competitive pokemon in UltraSun/UltraMoon.
      </p>
      <p>
        Are you a new player? Want to learn more about competitive pokemon before jumping into teambuilding? Check out the <a routerLink="">Guides</a> page for more info about metagames, stats, terminology, and more.
      </p>
      <p>
        Would you like to report an error, suggest a feature to be added, or provide some other kind of feedback? Contact me on <a href="https://twitter.com/oakleaf14" target="_blank">Twitter</a>!
      </p>
    </div>
  </div>
</div>